/* font */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");

html {
  font-family: "Rubik", sans-serif;
}

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* common rules */
body {
  background-color: darkorchid;
}
header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 1rem;
}
.container {
  width: 80%;
  max-width: 1400px;
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.box {
  width: calc(100% / var(--sideSquare));
  height: calc(100% / var(--sideSquare));
  color: white;
  background-color: palevioletred;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
}
.clicked {
  background-color:paleturquoise;
}
.help{
    text-align: center;
    margin: 2rem 0;
}
.hidden {
  display: none;
}

/* create */


.grid {
  --sideSquare: 10;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 900px;
  height: 900px;
  padding: 2rem;
}
#play, select {
  color: white;
  background-color: darkorchid;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  border-style: solid;
  border-radius: 16px;
  border-color: white;
  margin-inline: 0.5rem;
}
label{
    color: darkorchid; 
    font-size: 1.2rem;
}

